body{
    background-color: black;
    color: white;
}

.task-group-0 {
    color: #52e36a!important
}

.task-group-1 {
    color: #ffc107!important
}

.task-group-2    {
    color: #e34646!important
}

.task-group-3 {
    color: #7ebbed!important
}


.text-nowrap {
    white-space: nowrap;
}

.bus-arrival{
    font-size: 15px;
}

.world-clock{
    font-family: "Courier New", monospace
}

.time-to-walk{
    color: green;
}

#user-messages-div {
    height: 100px;
}

th, td {
  padding: 10px;
}
.time-to-run{
    color: yellow;
}

.time-to-drive{
    color: red;
}

.missed-transport{
    color: grey;
    opacity: 0.3;
}

.sunrise-icon {
    background: #92a0ac;
}
.sunset-icon {
    background: #92a0ac;
}

tr td{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.hidden-link{
    color: white;
}
.hidden-link:hover{
    color: red;
}